.col-muypeque-1,
.col-peque-1,
.col-media-1,
.col-grande-1,
.col-muypeque-2,
.col-peque-2,
.col-media-2,
.col-grande-2,
.col-muypeque-3,
.col-peque-3,
.col-media-3,
.col-grande-3,
.col-muypeque-4,
.col-peque-4,
.col-media-4,
.col-grande-4,
.col-muypeque-5,
.col-peque-5,
.col-media-5,
.col-grande-5,
.col-muypeque-6,
.col-peque-6,
.col-media-6,
.col-grande-6,
.col-muypeque-7,
.col-peque-7,
.col-media-7,
.col-grande-7,
.col-muypeque-8,
.col-peque-8,
.col-media-8,
.col-grande-8,
.col-muypeque-9,
.col-peque-9,
.col-media-9,
.col-grande-9,
.col-muypeque-10,
.col-peque-10,
.col-media-10,
.col-grande-10 {
  position: relative;
  
  min-height: 1px;
}

.col-muypeque-1,
.col-muypeque-2,
.col-muypeque-3,
.col-muypeque-4,
.col-muypeque-5,
.col-muypeque-6,
.col-muypeque-7,
.col-muypeque-8,
.col-muypeque-9,
.col-muypeque-10 {
  float: left;
}

.col-muypeque-10 {
  width: 100%;
}

.col-muypeque-9 {
  width: 90%;
}

.col-muypeque-8 {
  width: 80%;
}

.col-muypeque-7 {
  width: 70%;
}

.col-muypeque-6 {
  width: 60%;
}

.col-muypeque-5 {
  width: 50%;
}

.col-muypeque-4 {
  width: 40%;
}

.col-muypeque-3 {
  width: 30%;
}

.col-muypeque-2 {
  width: 20%;
}

.col-muypeque-1 {
  width: 10%;
}

@media (min-width: 768px) {

  .col-peque-1,
  .col-peque-2,
  .col-peque-3,
  .col-peque-4,
  .col-peque-5,
  .col-peque-6,
  .col-peque-7,
  .col-peque-8,
  .col-peque-9,
  .col-peque-10 {
    float: left;
  }

  .col-peque-10 {
    width: 100%;
  }

  .col-peque-9 {
    width: 90%;
  }

  .col-peque-8 {
    width: 80%;
  }

  .col-peque-7 {
    width: 70%;
  }

  .col-peque-6 {
    width: 60%;
  }

  .col-peque-5 {
    width: 50%;
  }

  .col-peque-4 {
    width: 40%;
  }

  .col-peque-3 {
    width: 30%;
  }

  .col-peque-2 {
    width: 20%;
  }

  .col-peque-1 {
    width: 10%;
  }
}

@media (min-width: 992px) {

  .col-media-1,
  .col-media-2,
  .col-media-3,
  .col-media-4,
  .col-media-5,
  .col-media-6,
  .col-media-7,
  .col-media-8,
  .col-media-9,
  .col-media-10 {
    float: left;
  }

  .col-media-10 {
    width: 100%;
  }

  .col-media-9 {
    width: 90%;
  }

  .col-media-8 {
    width: 80%;
  }

  .col-media-7 {
    width: 70%;
  }

  .col-media-6 {
    width: 60%;
  }

  .col-media-5 {
    width: 50%;
  }

  .col-media-4 {
    width: 40%;
  }

  .col-media-3 {
    width: 30%;
  }

  .col-media-2 {
    width: 20%;
  }

  .col-media-1 {
    width: 10%;
  }
}

@media (min-width: 1200px) {

  .col-grande-1,
  .col-grande-2,
  .col-grande-3,
  .col-grande-4,
  .col-grande-5,
  .col-grande-6,
  .col-grande-7,
  .col-grande-8,
  .col-grande-9,
  .col-grande-10 {
    float: left;
  }

  .col-grande-10 {
    width: 100%;
  }

  .col-grande-9 {
    width: 90%;
  }

  .col-grande-8 {
    width: 80%;
  }

  .col-grande-7 {
    width: 70%;
  }

  .col-grande-6 {
    width: 60%;
  }

  .col-grande-5 {
    width: 50%;
  }

  .col-grande-4 {
    width: 40%;
  }

  .col-grande-3 {
    width: 30%;
  }

  .col-grande-2 {
    width: 20%;
  }

  .col-grande-1 {
    width: 10%;
  }
}

html {
  height    : 100%;
  box-sizing: border-box;
 }

html body {
  position: relative;
  min-height      : 100%;
  background-color: white;
}

*,
*:before,
*:after {
  box-sizing : inherit;
  padding    : 0;
  margin     : 0;
  font-family: "Open Sans";
}

ul {
  list-style: none;
}

.jorge-header {
  height          : 170px;
  background-color: red;
  padding         : 20px;
  color           : white;
}

.jorge-header .icon {
  text-align: center;
}

.jorge-header .icon img {
  width    : 100%;
  max-width: 130px;
}

.jorge-header h1 {
  font-size: 60px;
}

.jorge-header small {
  font-size : 35px;
  font-style: italic;
}

.jorge-main {
  margin    : auto;
  padding   : 0 40px 120px 40px;
  margin-top: 40px;
  overflow  : hidden;
}

.jorge-main .indice .elemento-indice {
  position        : relative;
  margin          : 3px;
  padding         : 3px;
  text-align      : center;
  font-size       : 14px;
  background-color: #95e695;
  text-decoration : none;
  font-weight     : bold;
  color           : black;
  display         : block;
}

.jorge-main .contenido{
  font-size       : 30px;
  padding         : 3px;
}

.jorge-main .indice .elemento-indice:hover {
  background-color: #2bb62b;
}

.jorge-main .indice .elemento-indice:active {
  background-color: #176317;
  color           : white;
}

.jorge-main .contenido {
  padding-left: 16px;
}

.jorge-main .caja {
  border    : solid 3px red;
  padding   : 40px;
  margin-top: 20px;
}

.jorge-main .caja .caja2 {
  overflow: hidden;
  text-align: center;
}

.jorge-main .imagenT {
  width: 30%;
  height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jorge-main .imagenT2 {
  width: 70%;
  height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jorge-main .imagenT3 {
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jorge-main .imagenT4 {
  width: 70%;
  height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jorge-main .imagenT5 {
  width: 70%;
  height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jorge-main .imagenT6 {
  width: 90%;
  height: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jorge-main .imagenT7 {
  width: 90%;
  height: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jorge-main .caja .codigo {
  text-align: center;
}

.jorge-main .caja .codigo img {
  max-width: 350px;
}

@media (max-width: 768px) {
  .jorge-main .caja .codigo img {
    max-width: 280px;
  }
}

.jorge-main .caja .titulo-divs {
  font-size      : 44px;
  color          : green;
  font-style     : italic;
  text-decoration: underline;
  margin-bottom  : 16px;
 }

.jorge-main .caja .line {
  border-top: 3px dotted red;
  clear     : both;
  margin-top: 20px;
}

.jorge-main .imagenes .img-arnold {
  height: 300px;
}

.jorge-footer {
  right           : 0;
  bottom          : 0;
  left            : 0;
  height          : 100px;
  background-color: rgb(167, 31, 31);
  padding         : 20px;
  color           : white;
  text-align: center;
}

.jorge-footer small {
  bottom    : 20px;
}

.jorge-footer p {
  font-style: italic;
  position  : absolute;
  text-align: center;
}